.settings-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--ion-color-light);
  color: var(--ion-color-medium);
  padding: 6px 6px;
  border-radius: 5px;
}
